body {
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    height: 100vh;
    padding: 0px;
    margin: auto;
    background-color: #222;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #222;
    padding: 10px;
    width: 100%;
    margin: auto; 
}

#display {
    width: calc(100% - 10px);
    height: 60px;
    font-size: 2em;
    text-align: right;
    padding: 15px 7px 0 7px;
    margin-top: 25px; 
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#display2 {
    width: calc(100% - 10px);
    height: 65px;
    font-size: 2.7em;
    font-weight: 450;
    text-align: right;
    padding: 5px 7px 15px 7px;
    margin-bottom: 25px;
    border: none;
    outline: none;
    background-color: #333;
    color: cyan;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 1.7em;
    padding: 20px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(1,1,1,.2); 
    box-shadow: 0 0 4px #000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #111;
}

.operator {
    font-size: 2.3em;
    font-weight: 450;
    color: cyan;
    transition: background-color 0.3s ease;
}

.operator:hover {
    background-color: #111; /* red */
}

.bckspc {
    font-size: 1.55em;
}

.eql {
    grid-column: span 2;
}

.clear {
    font-size: 2em; 
}
